/* Cascading Style Sheet */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: 0.5s ease all;
}
.header-top-right{
    display: flex;
    background-color: darkcyan;
    padding: 20px;
}
.header-top-right .content{
    width:500px;
}
.header-top-right .content a{
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.header-bottom #logocontainer #logoimage{
    width:120px;
}
.header-bottom #logocontainer{
    display: flex;
}
.header-bottom #logocontainer  h1{
    font-family: French Script MT;
    font-weight: bolder;
    font-size: 60px;
    line-height: 30px;
    margin-top: 10px;
    color: #007bff;
}
.chs{
    font-family:Brush Script MT;
    font-size: 30px;
    color: black;
    font-weight: bolder;
}
#list{
    margin-left: 250px;
    transition:0.5s ease all;
}
#list .list ul{
    display: flex;
    list-style: none;
}
#list .list ul li{
  width: 200px;
  cursor: pointer;
}
#list .list ul li a{
    color:black;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
#list .list ul li .underlisted{
    display:block;
    transition: all 1s ease-in;
    position: absolute;
    z-index: 1;
    width:100%;
 }
#list .list ul li .underlisted li{
    background-color:white;
    box-shadow: 2px 2px 2px 2px lightgray;
   transition: 0.5s ease all;
   display:none;
}
#list .list ul li .underlisted li a{
    line-height: 50px;
    cursor:pointer;
    transition: 0.5s ease all;
    color: black;
    font-weight: bold;
    margin-left: 20px;
}
#list .list ul li .underlisted li a:hover{
    color: lightgrey;
}
#list .list ul .underlisted li a{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 14px;
}
#list .list ul li:hover .underlisted li{
   display: block;
   transition-delay: 0.5s;
   transition: 0.5s ease all;
}
#toggle i{
    float: right;
    font-size: 40px;
    color:white;
}
#toggle h3{
    float: left;
    font-size: 30px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
#toggle{
    background-color: #2d3e50;
    width: 100%;
    display: none;
    cursor: pointer;
}
#clone{
    display: none;
}
.latest p{
    border-bottom: 2px groove black;
}
.latest{
    position:absolute;
    overflow-y: scroll;
    height: 200px;
    width: 80%;
    align-items: center;
    margin-left: 30px;
    background-color: lightgray;
}
.beauty{
    width: 100%;
    align-items: center;
    background-color: lightgray;
}
.latest p a{
    text-decoration:none;
    font-size: 12px;
    color:black;
    font-style:oblique;
}
.beauty p a{
    text-decoration:none;
    font-size: 12px;
    color:black;
    font-style:oblique;
}
.latest-img img{
    width: 80%;
    margin-left: 30px;
    margin-top: 30px;
    height: 300px;
}
#universe{
    box-shadow: 2px 2px 2px 2px grey;
}
#beauty{
    box-shadow: 2px 2px 2px 2px grey;
}
#universe h3{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
#beauty h3{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.counter{
    color:black;
    font-family:French Script MT;
    text-align: center;
    font-weight: bolder;
    align-self: center;
    font-size: 60px;
}
.newsletter-area{
    background-color:#2d3e50;
}
#last{
    background-color:#2d3e50;
    color:white;
    font-family: 'Times New Roman', Times, serif;
}
.footer-list li a{
    text-decoration: none;
    color:white;
}
.footer-list li a:hover{
    text-decoration: none;
    color:blue;
}

@media(max-width:900px){
    .header-top-right .content a{
        color: white;
        font-weight: bold;
        font-size: 10px;
    }
    #beauty{
        margin-top: 200px;
    }
    .latest{
        position: absolute;
        overflow-y: scroll;
        height: 200px;
        width: 80%;
        align-items: center;
        margin-left: 30px;
        background-color: lightgray;
    }
    .header-bottom #logocontainer  h1{
        font-family: French Script MT;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        margin-top: 10px;
        color: #007bff;
    }
    .chs{
        font-family:Brush Script MT;
        font-size: 15px;
        color: black;
        font-weight: bold;
    }
    #list{
        margin-left: 0px;
        background-color: #2d3e50;
        display: none;
    }
    #list .list ul{
        display: block;
        list-style: none;
        width: 100%;
    }
    #list .list ul li{
      cursor: pointer;
      line-height: 70px;
      border-bottom: 2px solid white;
      width: 100%;
    }
    #list .list ul li a{
        color:white;
        font-family: 'Times New Roman', Times, serif;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
    }
    #list .list ul li .underlisted{
        display:block;
        transition: 0.5s ease-in;
     }
    #list .list ul li .underlisted li{
       background-color:white;
       transition: 0.5s ease all;
       display:none;
    }
    #list .list ul li .underlisted li a{
        line-height: 50px;
        cursor:pointer;
        transition: 0.5s ease all;
        color:black;
    }
    #list .list ul li .underlisted li a:hover{
        color: #007bff;
    }
    #list .list ul .underlisted li a{
        font-family: 'Times New Roman', Times, serif;
        font-weight: lighter;
        font-size: 14px;
    }
    #list .list ul li:hover .underlisted li{
       display: block;
       transition-delay: 0.5s;
       transition: 0.5s ease all;
    }
    #list .list ul li:hover .underlisted li{
        display: block;
        transition: 0.5s ease all;
     }
    #toggle{
        display: block;
    }
    #toggle i:hover #list{
        display: block;
    }
    .product{
        display:block;
    }
    #clone{
        display: none;
    }
    .latest p a{
        text-decoration:none;
        font-size: 10px;
        color:black;
        font-style:oblique;
    }
}